<div class="text-center mt-5">
  <%= image_tag group.image, size: "150x150", class: "rounded rounded-3 mb-3" %>
  <h5><%= group.name %></h5>
</div>
<div class="mt-5">
  <p><%= group.description %></p>
</div>

<div class="mb-5 d-grid">
  <%= link_to "投稿一覧", group_path(group), class: "user-menu btn btn-primary text-start" %>
  <% if group.owner_user == current_user %>
    <%= link_to "グループ編集", edit_group_path(group), class: "user-menu btn btn-primary text-start" %>
    <%= link_to "メンバー編集", group_group_members_path(group), class: "user-menu btn btn-primary text-start" %>
  <% end %>
</div>

<div>
  <div class="mb-5">
    <%= form_with url: group_group_members_path(group), method: :post do |f| %>
      <div>
        <%= f.label :email, "メールアドレスでメンバー招待" %>
      </div>
      <div>
        <%= f.text_field :email %>
      </div>
      <div>
        <%= f.submit "招待", class: "btn btn-secondary btn-sm mt-1" %>
      </div>
    <% end %>
  </div>

  <!-- メンバー一覧 -->
  <div class="d-flex flex-column">
    <% group.group_members.each do |member| %>
      <% next unless active_user?(member.user) %>
      <div class="d-flex align-items-center mb-3">
        <%= link_to user_path(member.user.id), class: "d-flex align-items-center text-decoration-none" do %>
          <%= image_tag member.user.get_profile_image(50, 50),
            style: "width: 50px; height: 50px; object-fit: cover;",
            class: "rounded-circle me-3" %>
          <span class="me-2 text-dark fw-bold"><%= member.user.name %></span>

          <% if member.user.id == group.owner_id %>
            <span class="badge bg-primary">管理者</span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>