<div class="container">
  <div class="row d-flex flex-wrap m-5">
    <div class="col-lg-3">
      <%= render 'group_profile', group: @group %>
    </div>

    <div class="col-12 col-lg-9 mb-4">
    <div class="row">

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
        <%= link_to new_group_item_path(@group), class: "text-decoration-none" do %>
          <div class="card h-100 position-relative rounded-4 d-flex align-items-center justify-content-center", style="min-height: 320px;">
            <i class="fa-solid fa-plus fa-2x"></i>
          </div>
        <% end %>
      </div>

      <% @items.each do |item| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
          <div class="card h-100 position-relative rounded-4">

            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image, class: "card-img-top object-fit-cover" %>
            <% end %>
            <div class="position-absolute top-0 start-0 m-2 px-2 py-1 btn btn-sm no-hover <%= status_color_class(item.status) %>">
              <%= item.status_i18n %>
            </div>
            <div class="card-body d-flex flex-column">
              <% if item.group.present? %>
                <div><%= link_to item.group.name, group_path(item.group) %></div>
              <% end %>

              <div class="mb-auto">
                <%= link_to item_path(item.id) do %>
                  <h5 class="card-title"><%= item.title %></h5>
                  <p class="card-text"><%= truncate(item.body, length: 40) %><p>
                <% end %>
              </div>

              <div>
                <div class="btn btn-primary btn-sm <%= category_color_class(item.category) %>">
                  <%= item.category_i18n %>
                </div>
              </div>

              <% if item.user && item.user.status? %>
                <%= link_to user_path(item.user.id), class: "d-flex align-items-center mt-2" do %>  
                  <%= image_tag item.user.get_profile_image(50, 50), class: "rounded-circle me-2" %>
                  <p class="mb-0"><%= item.user.name %></p>
                <% end %>
              <% else %>
                <div class="d-flex align-items-center mt-2">
                  <%= image_tag "no_image.jpg", class: "rounded-circle me-2", size: "50x50" %>
                  <p class="mb-0">Unknown</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @items %>