
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto border rounded-5 px-0 my-5 overflow-hidden">
      <h5 class="text-dark bg-light p-4 mb-0">投稿一覧</h5>

      <div class="table-responsive p-4">
        <table class="table table-striped table-hover text-center align-middle">
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>画像</th>
              <th>商品名</th>
              <th>
                <div class="d-flex flex-column align-items-center">
                  <span>カテゴリー</span>
                  <%= form_with url: admin_items_path, method: :get, local: true, class: "d-flex align-items-center mb-0" do %>
                    <%= select_tag :category_filter, options_for_select([
                        ['すべて', 'all'],
                        ['化粧品', 'cosmetics'],
                        ['日用品', '日用品'],
                        ['食品', '食品'],
                        ['サプリメント', 'supplement']
                      ], params[:category_filter]), class: "form-select form-select-sm me-1" %>

                    <%= button_tag type: 'submit', class: "border-0 bg-transparent p-0", title: "絞り込む" do %>
                      <i class="fa-solid fa-filter" style="color: #005eff;"></i>
                    <% end %>
                  <% end %>
                </div>
              </th>
              <th>
                <div class="d-flex flex-column align-items-center">
                  <span>ステータス</span>
                  <%= form_with url: admin_items_path, method: :get, local: true, class: "d-flex align-items-center" do %>
                    <%= select_tag :status_filter, options_for_select([
                        ['すべて', 'all'],
                        ['未使用', 'unopened'],
                        ['使用開始', 'start'],
                        ['使用中', 'active'],
                        ['使用終了', 'finish'],
                        ['廃棄', 'discard'],
                        ['リピート', 'repeat']
                      ], params[:status_filter]), class: "form-select form-select-sm me-1" %>
                    <%= button_tag type: 'submit', class: "border-0 bg-transparent p-0", title: "絞り込む" do %>
                      <i class="fa-solid fa-filter" style="color: #005eff;"></i>
                    <% end %>
                  <% end %>
                </div>
              </th>
              <th>ユーザー</th>
              <th>
                <%= link_to "登録日", admin_items_path(sort: toggle_sort(params[:sort], "created_at")) %>
                <%= sort_icon(params[:sort], "created_at") %>
              </th>
              <th>
                <%= link_to "追加投稿", admin_items_path(sort: toggle_sort(params[:sort], "post_count")) %>
                <%= sort_icon(params[:sort], "post_count") %>
              </th>
              <th>
                <%= link_to "追加投稿日", admin_items_path(sort: toggle_sort(params[:sort], "latest_posted_at")) %>
                <%= sort_icon(params[:sort], "latest_posted_at") %>
              </th>
              <th>
                <%= link_to "コメント", admin_items_path(sort: toggle_sort(params[:sort], "comment_count")) %>
                <%= sort_icon(params[:sort], "comment_count") %>
              </th>
              <th>
                <div class="d-flex flex-column align-items-center">
                  <span>グループ</span>
                  <%= form_with url: admin_items_path, method: :get, local: true, class: "d-flex align-items-center" do %>
                    <%= select_tag :group_filter, options_for_select([
                        ['すべて', 'all'],
                        ['グループあり', 'with_group'],
                        ['グループなし', 'without_group'],
                        ['解散済みグループ', 'disbanded_group']
                      ], params[:group_filter]), class: "form-select form-select-sm me-1" %>
                    <%= button_tag type: 'submit', class: "border-0 bg-transparent p-0", title: "絞り込む" do %>
                      <i class="fa-solid fa-filter" style="color: #005eff;"></i>
                    <% end %>
                  <% end %>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td><%= item.id %></td>
                <td>
                  <%= link_to admin_item_path(item) do %>
                    <%= image_tag item.image, size: "50x50" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to admin_item_path(item) do %>
                    <%= item.title %>
                  <% end %>
                </td>
                <td>
                  <span class="btn btn-sm <%= category_color_class(item.category) %>">
                    <%= item.category_i18n %>
                  </span>
                </td>
                <td>
                  <span class="btn btn-sm <%= status_color_class(item.status) %>">
                    <%= item.status_i18n %>
                  </span>
                </td>
                <td>
                  <%= link_to admin_user_path(item.user) do %>
                    <%= image_tag item.user.get_profile_image(50, 50),
                      style: "width: 50px; height: 50px; object-fit: cover;",
                      class: "rounded-circle" %>
                    <span><%= item.user.name %></span>
                  <% end %>
                </td>
                <td><%= item.created_at.strftime("%Y-%m-%d") %></td>
                <td><%= post_count = item.item_posts.count %></td>
                <td>
                  <% latest_post = item.item_posts.maximum(:created_at) %>
                  <%= latest_post.present? ? latest_post.strftime("%Y-%m-%d") : "なし" %>
                </td>
                <td><%= comment_count = item.comments.count %></td>
                <td>
                  <% if item.group.present? %>
                    <%= link_to admin_group_path(item.group) do %>
                      <%= item.group.name %>
                      <% if item.group.owner_delete? || item.group.admin_delete? %>
                        <span class="text-danger">(解散すみ)</span>
                      <% end %>
                    <% end %>
                  <% else %>
                    なし
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
