

<div class="col-lg-9">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto border rounded-5 px-0 my-5 overflow-hidden">
        <h5 class="text-dark bg-light p-4 mb-0">新規アカウント作成</h5>
        <div class='login-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        
        <div class="form-body p-4">
          <%= form_with model: @user, url: user_registration_path, scope: :user, local: true do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
        
            <div>
              <label for="name">ユーザー名</label>
              <%= f.text_field :name, id:"name", class: "form-control" %>
            </div>
            <div class="pt-2">
              <label for="email">メールアドレス</label>
              <%= f.email_field :email, id:"email", class: "form-control", autofocus: true, autocomplete: "email" %>
            </div>

            <div class="pt-2">
              <label for="password">パスワード</label>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", id:"password", class:"form-control" %>
            </div>

            <div class="field">
              <label for="password_confirmation">パスワード再入力</label>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", id:"password_confirmation", class:"form-control" %>
            </div>

            <div class="pt-2">
              <%= f.submit '登録', class: "btn btn-success" %>
            </div>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
