<div class="container">
  <div class="row d-flex flex-wrap m-5">
    <% @items.each do |item| %>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, class: "card-img-top object-fit-cover" %>
          <% end %>
          <div class="card-body">
            <%= link_to item_path(item.id) do %>
              <h5 class="card-title"><%= item.title %></h5>
              <p class="card-text"><%= item.body %><p>
              <div class="btn btn-primary btn-sm <%= category_color_class(item.category) %>"><%= item.category_i18n %></div>
              <% if item.group.present? %>
                <div class="text-muted">所属グループ：<%= link_to item.group.name, group_path(item.group) %></div>
              <% end %>
            <% end %>

            <%= link_to user_path(item.user.id), class: "d-flex align-items-center" do %>  
              <%= image_tag item.user.get_profile_image(50,50), class: "d-flex align-items-center" %>
              <p class="mb-0"><%= item.user.name %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @items %>