
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-10 col-sm-10 mx-2 mx-sm-auto border rounded-5 px-0 my-5 overflow-hidden">
      <h5 class="text-dark bg-light p-4 mb-0">全ユーザー一覧</h5>

      <div class="table-responsive p-4">
        <table class="table table-striped table-hover text-center align-middle">
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>アイコン</th>
              <th>名前</th>
              <th>メールアドレス</th>
              <th>
                <%= link_to "登録日", admin_users_path(sort: toggle_sort(params[:sort], "created_at")) %>
                <%= sort_icon(params[:sort], "created_at") %>
              </th>
              <th>
                <%= link_to "更新日", admin_users_path(sort: toggle_sort(params[:sort], "updated_at")) %>
                <%= sort_icon(params[:sort], "updated_at") %>
              </th>
              <th>
                <div class="d-flex flex-column align-items-center">
                  <span>ステータス</span>
                  <%= form_with url: admin_users_path, method: :get, local: true, class: "d-flex align-items-center" do %>
                    <%= select_tag :status_filter, options_for_select([
                        ['すべて', 'all'],
                        ['利用中', 'active'],
                        ['強制停止', 'deactivated'],
                        ['自主退会', 'withdrawn']
                      ], params[:status_filter]), class: "form-select form-select-sm me-1" %>
                    <%= button_tag type: 'submit', class: "border-0 bg-transparent p-0", title: "絞り込む" do %>
                      <i class="fa-solid fa-filter" style="color: #005eff;"></i>
                    <% end %>
                  <% end %>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td>
                  <%= link_to admin_user_path(user) do %>
                    <%= image_tag user.get_profile_image(50, 50),
                      style: "width: 50px; height: 50px; object-fit: cover;",
                      class: "rounded-circle" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to user.name, admin_user_path(user) %>
                </td>
                <td><%= user.email %></td>
                <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
                <td><%= user.updated_at.strftime("%Y-%m-%d") %></td>
                <td>
                  <% case user.status %>
                  <% when "active" %>
                    <span class="badge bg-success">利用中</span>
                  <% when "deactivated" %>
                    <span class="badge bg-danger">強制停止</span>
                  <% when "withdrawn" %>
                    <span class="badge bg-secondary">自主退会</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
