<div class="text-center mt-5">
  <% if user == current_user %>
    <%= link_to edit_user_path(current_user) do %>
      <%= image_tag user.get_profile_image(150, 150),
              style: "width: 150px; height: 150px; object-fit: cover;",
              class: "rounded-circle" %>
    <% end %>
  <% else %>
    <%= image_tag user.get_profile_image(150, 150),
              style: "width: 150px; height: 150px; object-fit: cover;",
              class: "rounded-circle" %>
  <% end %>
  <h5><%= user.name %></h5>
</div>
<div class="mt-5">
  <p><%= user.profile %></p>
</div>

<div class="d-grid mb-1">
  <%= link_to "投稿一覧", user_path(user), class: "user-menu btn btn-primary text-start" %>
  <%= link_to "グループ一覧", groups_user_path(user), class: "user-menu btn btn-primary text-start" %>
  <% if user == current_user %>
    <%= link_to "プロフィール編集", edit_user_path(current_user), class: "user-menu btn btn-primary text-start" %>
  <% end %>
</div>

