

<div class="container">
  <div class="row d-flex flex-wrap mt-3">
    <div class="col-12 col-md-4 col-lg-3">
      <% if @item.group.present? %>
        <%= render 'public/groups/group_profile', group: @item.group %>
      <% else %>
        <%= render 'public/users/profile', user: @item.user %>
      <% end %>
    </div>

    <div class="col-12 col-md-8 col-lg-9 mb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto border rounded-5 px-0 my-5 overflow-hidden">
            <h5 class="text-dark bg-light p-4 mb-0 d-flex justify-content-between align-items-center">
              商品投稿編集
              <a href="javascript:history.back();">
                <i class="fa-solid fa-xmark" style="color: #005eff; font-size: 20px;"></i>
              </a>
            </h5>
            <div class="form-body p-4">
              <%= form_with model: @item do |f| %>
                <%= render 'layouts/error_messages', model: f.object %>

                <div>
                  <label for="title">商品名</label>
                  <%= f.text_field :title, autofocus: true, id:"title", placeholder:"商品名", class: "form-control" %>
                </div>
                <div class="pt-2">
                  <label for="comment">説明</label>
                  <%= f.text_area :body, autofocus: true, id:"comment", placeholder:"説明", class: "form-control" %>
                </div>
                <div class="pt-2">
                  <label for="inputImage">商品画像</label>
                  <%= f.file_field :image, id:"inputImage", placeholder: "画像", accept: "image/*" %>
                </div>

                <div class="pt-2">
                  <label for="deadline">期限（任意:他のユーザーには表示されません）</label>
                  <%= f.date_field :deadline, id: "deadline", class: "form-control" %>
                </div>

                <div class="pt-2">
                  <label for="status">使用状況</label>
                  <%= f.radio_button :status, Item.statuses.key(0) %>
                  <%= f.label :status_unopened, Item.statuses_i18n[:unopened] %>
                  <%= f.radio_button :status, Item.statuses.key(1) %>
                  <%= f.label :status_start, Item.statuses_i18n[:start] %>
                  <%= f.radio_button :status, Item.statuses.key(2) %>
                  <%= f.label :status_active, Item.statuses_i18n[:active] %>
                  <%= f.radio_button :status, Item.statuses.key(3) %>
                  <%= f.label :status_finish, Item.statuses_i18n[:finish] %>
                  <%= f.radio_button :status, Item.statuses.key(4) %>
                  <%= f.label :status_discard, Item.statuses_i18n[:discard] %>
                  <%= f.radio_button :status, Item.statuses.key(5) %>
                  <%= f.label :status_repeat, Item.statuses_i18n[:repeat] %>
                </div>

                <div class="pt-2">
                <label for="status">評価</label>
                  <%= render 'star_form', f: f, item: @item %>
                </div>

                <div class="pt-2">
                  <%= f.check_box :private %>
                  <%= f.label :private, "非公開にする（自分やグループだけに表示）" %>
                </div>

                <div class="pt-2">
                  <%= f.submit "変更を保存", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>