<div class="container">
  <div class="row d-flex flex-wrap m-5">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <%= link_to new_item_path, class: "text-decoration-none" do %>
        <div class="card h-100 position-relative rounded-4 d-flex align-items-center justify-content-center" style="min-height: 320px;">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
      <% end %>
    </div>
    
    <% @items.each do |item| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100 position-relative rounded-4">

          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, class: "card-img-top object-fit-cover" %>
          <% end %>
          <div class="position-absolute top-0 start-0 m-2 px-2 py-1 btn btn-sm no-hover <%= status_color_class(item.status) %>">
            <%= item.status_i18n %>
          </div>
          <div class="card-body d-flex flex-column">

            <!-- タイトルと本文 -->
            <div class="mb-auto">
              <%= link_to item_path(item.id) do %>
                <h5 class="card-title"><%= item.title %></h5>
                <p class="card-text"><%= truncate(item.body, length: 40) %><p>
              <% end %>
            </div>

            <!-- カテゴリ -->
            <div>
              <div class="btn btn-sm no-hover <%= category_color_class(item.category) %>">
                <%= item.category_i18n %>
              </div>
            </div>

            <!-- ユーザー名orグループ名 -->
            <div class="d-flex align-items-center mt-2">
              <% if item.group.present? %>
                <%= link_to group_path(item.group), class: "d-flex align-items-center text-decoration-none" do %>
                  <%= image_tag item.group.image, size:"50x50", class: "rounded-3 me-2" %>
                  <div>
                    <strong><%= link_to item.group.name, group_path(item.group), class: "text-dark text-decoration-none" %></strong><br>
                    <small class="text-muted">(by <%= item.user.name %>)</small>
                  </div>
                <% end %>
              <% else %>
                <%= link_to user_path(item.user.id), class: "d-flex align-items-center text-decoration-none" do %>
                  <%= image_tag item.user.get_profile_image(50, 50),
                    style: "width: 50px; height: 50px; object-fit: cover;",
                    class: "rounded-circle me-2" %>
                  <p class="mb-0"><%= item.user.name %></p>
                <% end %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @items %>