<div class="container">
  <div class="row mt-3">
    <div class="col-12 col-md-4 col-lg-3">
      <% if params[:group_id].present? %>
        <%= render 'public/groups/group_profile', group: Group.find(params[:group_id]) %>
      <% else %>
        <%= render 'public/users/profile', user: current_user %>
      <% end %>
    </div>


    <div class="col-12 col-md-8 col-lg-9 mb-4">
      <div class="m-5">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-9 col-sm-10 mx-2 mx-sm-auto border rounded-5 px-0 my-5 overflow-hidden">
              <h5 class="text-dark bg-light p-4 mb-0 d-flex justify-content-between align-items-center">
                投稿フォーム
                <a href="javascript:history.back();">
                  <i class="fa-solid fa-xmark" style="color: #005eff; font-size: 20px;"></i>
                </a>
              </h5>
                <div class="form-body p-4">
                <%= form_with model: @item do |f| %>
                  <%= render 'layouts/error_messages', model: f.object %>
                  <%= f.hidden_field :group_id %>
                  
                  <div>
                    <label for="title">商品名</label>
                    <%= f.text_field :title, id:"title", class: "form-control" %>
                  </div>

                  <div class="pt-2">
                    <label for="image">商品画像</label>
                    <%= f.file_field :image, accept: "image/*" %>
                  </div>

                  <div class="pt-2">
                    <label for="opinion">説明</label>
                    <%= f.text_area :body, id:"opinion", class: "form-control" %>
                  </div>


                  <div class="pt-2">
                    <label for="category">カテゴリー</label>
                    <%= f.radio_button :category, Item.categories.key(0) %>
                    <%= f.label :category_cosmetics, Item.categories_i18n[:cosmetics] %>
                    <%= f.radio_button :category, Item.categories.key(1) %>
                    <%= f.label :category_daily_necessities, Item.categories_i18n[:daily_necessities] %>
                    <%= f.radio_button :category, Item.categories.key(2) %>
                    <%= f.label :category_groceries, Item.categories_i18n[:groceries] %>
                    <%= f.radio_button :category, Item.categories.key(3) %>
                    <%= f.label :category_supplement, Item.categories_i18n[:supplement] %>
                  </div>

                  <div class="pt-2">
                    <label for="status">使用状況</label>
                    <%= f.radio_button :status, Item.statuses.key(0) %>
                    <%= f.label :status_unopened, Item.statuses_i18n[:unopened] %>
                    <%= f.radio_button :status, Item.statuses.key(1) %>
                    <%= f.label :status_start, Item.statuses_i18n[:start] %>
                    <%= f.radio_button :status, Item.statuses.key(2) %>
                    <%= f.label :status_active, Item.statuses_i18n[:active] %>
                    <%= f.radio_button :status, Item.statuses.key(3) %>
                    <%= f.label :status_finish, Item.statuses_i18n[:finish] %>
                    <%= f.radio_button :status, Item.statuses.key(4) %>
                    <%= f.label :status_discard, Item.statuses_i18n[:discard] %>
                    <%= f.radio_button :status, Item.statuses.key(5) %>
                    <%= f.label :status_repeat, Item.statuses_i18n[:repeat] %>
                  </div>

                  <div class="pt-2">
                    <%= f.submit '登録', class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>